.tag {
  border: var(--border-width) solid var(--color-border);
  color: var(--color-text);
  font-family: var(--font-family-ui);
  font-size: var(--font-size-ui-sm);
  font-weight: var(--font-weight-light);
  letter-spacing: var(--letter-spacing-tight);
  line-height: 1rem;
  padding: 0 4px;
  text-transform: uppercase;
}

.tag--blue {
  background-color: var(--color-background-interactive);
  border-color: var(--color-border-interactive);
  color: var(--color-text-inverse);
}
