.pagination {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.pagination__pages {
  display: flex;
  gap: 0.5rem;
}

.pagination__page--active {
  text-decoration: underline;
}

.pagination__ellipsis {
  display: inline-flex;
  color: var(--black);
  align-items: center;
  justify-content: center;
}
