.text-input {
  display: flex;
  flex-direction: column;
}

.text-input__label {
  width: fit-content;
}

.text-input__input {
  padding: var(--spacing-12);
  border-color: transparent;
  border-block-end-color: var(--color-black);
}
