.button {
  align-items: center;
  appearance: none;
  background-color: transparent;
  border: var(--border-width) solid var(--color-border);
  color: var(--color-text);
  cursor: pointer;
  display: inline-flex;
  font-family: var(--font-family-ui);
  font-size: var(--font-size-ui-sm);
  line-height: 1rem;
  padding: 0;
  text-decoration: none;
  text-transform: uppercase;
}

.button:hover,
.button:active {
  border-color: var(--color-border-interactive);
  color: var(--color-text-interactive);
}

.button--large {
  font-size: var(--font-size-ui-md);
  font-weight: var(--font-weight-bold);
  line-height: 1.5rem;
}

.button--secondary,
.button--tertiary,
.button--secondary:hover,
.button--tertiary:hover {
  border-color: transparent;
}

.button--secondary {
  color: var(--color-text-interactive);
}

.button--secondary:hover,
.button--secondary:active {
  color: var(--color-text);
}

.button__content {
  border-right: 1px solid;
  padding: var(--spacing-12);
  height: 100%;
  display: flex;
  align-items: center;
}

.button--large .button__content {
  padding: 14px var(--spacing-16);
}

.button--secondary .button__content,
.button--tertiary .button__content {
  border: none;
  padding-left: 0;
  padding-right: 0;
}

.button--narrow .button__content {
  padding-top: 0;
  padding-bottom: 0;
}

.button__icon {
  flex-shrink: 0;
  margin: var(--spacing-12);
}

.button--large .button__icon {
  margin: var(--spacing-16);
}

.button--secondary .button__icon,
.button--tertiary .button__icon {
  margin-left: var(--spacing-8);
  margin-right: 0;
}

.button--narrow .button__icon {
  margin-top: 0;
  margin-bottom: 0;
}

.button--icon-only.button--secondary .button__icon,
.button--icon-only.button--tertiary .button__icon {
  margin: var(--spacing-12);
}

.button--icon-only.button--secondary.button--large .button__icon,
.button--icon-only.button--tertiary.button--large .button__icon {
  margin: var(--spacing-16);
}

.button--icon-left {
  flex-direction: row-reverse;
}

.button--icon-left.button--secondary .button__icon,
.button--icon-left.button--tertiary .button__icon {
  margin-left: 0;
  margin-right: var(--spacing-8);
}

.button:focus-visible {
  background-color: var(--color-background-focus);
  border-color: transparent;
  outline-color: var(--color-focus-outline);
  outline-offset: -1px;
  outline-style: dashed;
}

.button.link {
  text-decoration: none;
}

.button--target-area-parent::after {
  content: '';
  position: absolute;
  inset: 0;
}
