.text {
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0;
}

.text--subtext {
  font-size: 0.875rem;
  letter-spacing: -0.04em;
  line-height: 1.5rem;
  font-family: MartianMono, monospace;
}

@media screen and (min-width: 481px) {
  .text {
    font-size: 1.125rem;
    line-height: 2rem;
  }

  .text--subtext {
    font-size: 1rem;
    line-height: 1.5rem;
    text-transform: uppercase;
  }
}
