.text {
  margin: 0;
}

.text--subtext {
  font-family: var(--font-family-ui);
  font-size: var(--font-size-ui-md);
  letter-spacing: var(--letter-spacing-heading);
  line-height: 1.5rem;
}

@media screen and (min-width: 890px) {
  .text--subtext {
    font-size: 1rem;
    line-height: 1.5rem;
    text-transform: uppercase;
  }
}
