.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  inline-size: 100%;
}

.grid--row-gap-mobile-8 {
  row-gap: var(--spacing-8);
}

.grid--row-gap-mobile-16 {
  row-gap: var(--spacing-16);
}

.grid--row-gap-mobile-24 {
  row-gap: var(--spacing-24);
}

.grid--row-gap-mobile-32 {
  row-gap: var(--spacing-32);
}

.grid--row-gap-mobile-40 {
  row-gap: var(--spacing-40);
}

.grid--row-gap-mobile-48 {
  row-gap: var(--spacing-48);
}

.grid--row-gap-mobile-64 {
  row-gap: var(--spacing-64);
}

.grid--row-gap-mobile-72 {
  row-gap: var(--spacing-72);
}

.grid--row-gap-mobile-96 {
  row-gap: var(--spacing-96);
}

.grid--row-gap-mobile-128 {
  row-gap: var(--spacing-128);
}

.grid--column-gap-mobile-8 {
  column-gap: var(--spacing-8);
}

.grid--column-gap-mobile-16 {
  column-gap: var(--spacing-16);
}

.grid--column-gap-mobile-24 {
  column-gap: var(--spacing-24);
}

.grid--column-gap-mobile-32 {
  column-gap: var(--spacing-32);
}

.grid--column-gap-mobile-40 {
  column-gap: var(--spacing-40);
}

.grid--column-gap-mobile-48 {
  column-gap: var(--spacing-48);
}

.grid--column-gap-mobile-64 {
  column-gap: var(--spacing-64);
}

.grid--column-gap-mobile-72 {
  column-gap: var(--spacing-72);
}

.grid--column-gap-mobile-96 {
  column-gap: var(--spacing-96);
}

.grid--column-gap-mobile-128 {
  column-gap: var(--spacing-128);
}

@media screen and (min-width: 481px) {
  .grid--row-gap-tablet-8 {
    row-gap: var(--spacing-8);
  }

  .grid--row-gap-tablet-16 {
    row-gap: var(--spacing-16);
  }

  .grid--row-gap-tablet-24 {
    row-gap: var(--spacing-24);
  }

  .grid--row-gap-tablet-32 {
    row-gap: var(--spacing-32);
  }

  .grid--row-gap-tablet-40 {
    row-gap: var(--spacing-40);
  }

  .grid--row-gap-tablet-48 {
    row-gap: var(--spacing-48);
  }

  .grid--row-gap-tablet-64 {
    row-gap: var(--spacing-64);
  }

  .grid--row-gap-tablet-72 {
    row-gap: var(--spacing-72);
  }

  .grid--row-gap-tablet-96 {
    row-gap: var(--spacing-96);
  }

  .grid--row-gap-tablet-128 {
    row-gap: var(--spacing-128);
  }

  .grid--column-gap-tablet-8 {
    column-gap: var(--spacing-8);
  }

  .grid--column-gap-tablet-16 {
    column-gap: var(--spacing-16);
  }

  .grid--column-gap-tablet-24 {
    column-gap: var(--spacing-24);
  }

  .grid--column-gap-tablet-32 {
    column-gap: var(--spacing-32);
  }

  .grid--column-gap-tablet-40 {
    column-gap: var(--spacing-40);
  }

  .grid--column-gap-tablet-48 {
    column-gap: var(--spacing-48);
  }

  .grid--column-gap-tablet-64 {
    column-gap: var(--spacing-64);
  }

  .grid--column-gap-tablet-72 {
    column-gap: var(--spacing-72);
  }

  .grid--column-gap-tablet-96 {
    column-gap: var(--spacing-96);
  }

  .grid--column-gap-tablet-128 {
    column-gap: var(--spacing-128);
  }
}

@media screen and (min-width: 768px) {
  .grid--row-gap-desktop-8 {
    row-gap: var(--spacing-8);
  }

  .grid--row-gap-desktop-16 {
    row-gap: var(--spacing-16);
  }

  .grid--row-gap-desktop-24 {
    row-gap: var(--spacing-24);
  }

  .grid--row-gap-desktop-32 {
    row-gap: var(--spacing-32);
  }

  .grid--row-gap-desktop-40 {
    row-gap: var(--spacing-40);
  }

  .grid--row-gap-desktop-48 {
    row-gap: var(--spacing-48);
  }

  .grid--row-gap-desktop-64 {
    row-gap: var(--spacing-64);
  }

  .grid--row-gap-desktop-72 {
    row-gap: var(--spacing-72);
  }

  .grid--row-gap-desktop-96 {
    row-gap: var(--spacing-96);
  }

  .grid--row-gap-desktop-128 {
    row-gap: var(--spacing-128);
  }

  .grid--column-gap-desktop-8 {
    column-gap: var(--spacing-8);
  }

  .grid--column-gap-desktop-16 {
    column-gap: var(--spacing-16);
  }

  .grid--column-gap-desktop-24 {
    column-gap: var(--spacing-24);
  }

  .grid--column-gap-desktop-32 {
    column-gap: var(--spacing-32);
  }

  .grid--column-gap-desktop-40 {
    column-gap: var(--spacing-40);
  }

  .grid--column-gap-desktop-48 {
    column-gap: var(--spacing-48);
  }

  .grid--column-gap-desktop-64 {
    column-gap: var(--spacing-64);
  }

  .grid--column-gap-desktop-72 {
    column-gap: var(--spacing-72);
  }

  .grid--column-gap-desktop-96 {
    column-gap: var(--spacing-96);
  }

  .grid--column-gap-desktop-128 {
    column-gap: var(--spacing-128);
  }
}

/* specific border styles */
.grid--border {
  /* reserve space for border added in the selector below */
  gap: 1px;
}

.grid--border .column {
  /* using box-shadow to avoid double border */
  box-shadow: 0 0 0 1px black;
}
