.title-section {
  padding: var(--spacing-96) var(--spacing-16);
  text-align: center;
  box-shadow:
    0 1px 0 0 var(--color-black),
    0 -1px 0 0 var(--color-black);
}

@media screen and (min-width: 481px) {
  .title-section {
    padding: var(--spacing-96) var(--spacing-24);
  }
}

@media screen and (min-width: 890px) {
  .title-section {
    padding: var(--spacing-96) 0;
  }
}
