---
import Layout from '@layouts/Default.astro';
import { defaultLocale, t } from '@lib/i18n';
import query from './_index.query.graphql';
import { datocmsRequest } from '@lib/datocms';
import type { VacanciesPageQuery } from '@lib/types/datocms';
import PageHeader from '@blocks/PageHeader/PageHeader.astro';
import VacancyList from '@blocks/VacancyList/VacancyList.astro';
import { Button } from '@components/Button';

export const prerender = false;

const { locale = defaultLocale } = Astro.params;

const { page } = await datocmsRequest<VacanciesPageQuery>({
  query,
  variables: { locale },
});
---

{
  page && (
    <Layout pageUrls={[]} seoMetaTags={page._seoMetaTags}>
      <PageHeader title={page.header.title} subtitle={page.header.subtitle}>
        <Fragment slot="header">
          <Button
            as="a"
            href="../"
            className="back-button"
            level="tertiary"
            icon="arrow-left"
            iconPosition="left"
          >
            {t('back_to_home')}
          </Button>
        </Fragment>
      </PageHeader>

      <VacancyList />
    </Layout>
  )
}
