.select-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0;
  background-color: var(--color-background);
  border: var(--border-width) solid var(--color-border);
  font-family: var(--font-family-ui);
  font-size: var(--font-size-ui-sm);
  line-height: 1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.select-button:hover,
.select-button:active {
  border-color: var(--color-border-interactive);
  color: var(--color-text-interactive);
}

.select-button:focus-visible {
  border-style: dashed;
  outline: none;
  background-color: var(--color-background-focus);
  border-color: var(--color-border);
  color: var(--color-text);
}

.select-button--has-value {
  background-color: var(--color-background-inverse);
  color: var(--color-text-inverse);
  border-color: var(--color-text-inverse);
}

.select-button--has-value:hover {
  border-color: var(--color-text-inverse);
  color: var(--color-text-inverse);
}

.select-button--has-value:active {
  background-color: var(--color-background);
  color: var(--color-text);
  border-color: var(--color-border);
}

.select-button__label {
  padding: var(--spacing-12);
  height: 100%;
  display: flex;
  align-items: center;
}

.select-button__icon {
  padding: var(--spacing-12);
  border-inline-start: var(--border-width) solid var(--color-border);
  line-height: 0;
}

.select-button--has-value .select-button__icon {
  border-inline-start: var(--border-width) solid var(--color-text-inverse);
}

.select-button--has-value:focus-visible .select-button__icon {
  border-inline-start: var(--border-width) solid var(--color-border);
}

.select-button:hover .select-button__icon {
  border-color: var(--color-border-interactive);
}

.select-button .select-button__icon--close,
.select-button[data-open] .select-button__icon--open {
  display: none;
}

.select-button[data-open] .select-button__icon--close {
  display: inline-block;
}

.select-button__icon .icon {
  width: 1.5rem;
  height: 1.5rem;
}

.select-options {
  border: var(--border-width) solid var(--color-border);
  border-top: none;
  box-shadow: 0 calc(-1 * var(--border-width)) 0 0 var(--color-border);
  background-color: var(--color-background);
  z-index: 1;
}

.select-options__option {
  padding: var(--spacing-12);
  cursor: pointer;
  font-size: var(--font-size-ui-sm);
  font-family: var(--font-family-ui);
  line-height: 1rem;
  text-transform: uppercase;
}

.select-options__option[data-focus] {
  color: var(--color-text-interactive);
}

.select-options__option[data-selected] {
  color: var(--color-text-interactive);
  font-weight: bold;
}
