---
import Layout from '@layouts/Default.astro';
import { Button } from '@components/Button';
import { Grid, Column } from '@components/Grid';
import TextBlock from '@blocks/TextBlock/TextBlock.astro';
import PageHeader from '@blocks/PageHeader/PageHeader.astro';
import { datocmsRequest } from '@lib/datocms';
import { defaultLocale } from '@lib/i18n';
import type { LoginPageQuery } from '@lib/types/datocms';
import type { TextBlockFragment } from '@lib/types/datocms';
import { t } from '@lib/i18n';
import query from './login.query.graphql';
const { locale = defaultLocale } = Astro.params;

const { loginPage: page } = await datocmsRequest<LoginPageQuery>({
  query,
  variables: { locale },
});

if (!page) {
  return new Response(null, { status: 404 });
}
---

<Layout pageUrls={[]} seoMetaTags={[]}>
  <div>
    <PageHeader
      title={page.header?.title as string}
      subtitle={page.header?.subtitle}
      visual={page.header?.visual}
    >
      <Fragment slot="header">
        <Button
          as="a"
          href="../"
          className="back-button"
          level="tertiary"
          icon="arrow-left"
          iconPosition="left">{t('back_to_home')}</Button
        >
      </Fragment>
    </PageHeader>

    <Grid gap={32} className="container-padding-y container-padding-x">
      <Column span={12}>
        <TextBlock block={page.datocmsDescription as TextBlockFragment} />
      </Column>

      <Column span={12}>
        <TextBlock block={page.ledenplatformDescription as TextBlockFragment} />
      </Column>
    </Grid>
  </div>
</Layout>
