.members-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-48);
  box-shadow: 0 -1px 0 0 var(--color-black);
  flex-wrap: wrap;
  gap: var(--spacing-24);
}

.member-filter__selects {
  display: flex;
  gap: var(--spacing-16);
}
