---
export const prerender = false;

import type { StructuredText as StructuredTextData } from 'datocms-structured-text-utils';
import type { MembersPageQuery, SiteLocale } from '@lib/types/datocms';

import { StructuredText } from 'react-datocms';
import { datocmsRequest } from '@lib/datocms';
import { t } from '@lib/i18n';
import membersPageQuery from './membersPage.query.graphql';

import Layout from '@layouts/Default.astro';

import { PageTitle, PageTitleHeader, PageTitleContent } from '@components/PageTitle';
import { Button } from '@components/Button';
import { Heading } from '@components/Heading';
import { MemberList } from '@blocks/MemberList';
import { PartnerBanner } from '@blocks/PartnerBanner';

const { locale } = Astro.params as { locale: SiteLocale };

const { page, partners } = await datocmsRequest<MembersPageQuery>({ query: membersPageQuery, variables: { locale } });

if (!page) {
  return new Response(null, { status: 500 });
}
---

<Layout pageUrls={[]} seoMetaTags={page._seoMetaTags}>
  <PageTitle>
    <PageTitleHeader>
      <Button as="a" href="../" className="back-button" level="tertiary" icon="arrow-left" iconPosition="left">{t('back_to_home')}</Button>
      <Heading level={1}>{page.title}</Heading>
    </PageTitleHeader>
    <PageTitleContent>
      <div>
        <StructuredText data={page.description as unknown as StructuredTextData} />
      </div>
    </PageTitleContent>
  </PageTitle>
  
  <MemberList />
  
  { partners.length > 0 && <PartnerBanner {partners} /> }
</Layout>

<style>
  .back-button {
    margin-block-end: var(--spacing-16);
  }
</style>
