.container-padding-y {
  padding-block: var(--spacing-16);
}

.container-padding-y-end {
  padding-block-end: var(--spacing-16);
}

.container-padding-x {
  padding-inline: var(--spacing-16);
}

@media screen and (min-width: 890px) {
  .container-padding-y {
    padding-block: var(--spacing-48);
  }

  .container-padding-y-end {
    padding-block-end: var(--spacing-48);
  }

  .container-padding-x {
    padding-inline: var(--spacing-48);
  }
}
