:root {
  /* spacing */
  --spacing-8: 8px;
  --spacing-16: 16px;
  --spacing-24: 24px;
  --spacing-32: 32px;
  --spacing-40: 40px;
  --spacing-48: 48px;
  --spacing-64: 64px;
  --spacing-72: 72px;
  --spacing-96: 96px;
  --spacing-128: 128px;

  /* colors */
  --black: #222226;
  --grey: #666666;
  --white: #ffffff;
  --blue: #364BF7;
}
