*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

footer {
  position: sticky;
  top: 100vh;
}

.main-container {
  min-height: 100%;
}

@media screen and (min-width: 481px) {
  body {
    height: calc(100% - var(--spacing-32));
    margin: var(--spacing-16);
  }

  .main-container {
    box-shadow: 0 0 0 1px var(--color-black);
    margin: 0 auto var(--spacing-16);
    max-width: 1440px;
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: var(--spacing-16) var(--spacing-64);
  }
}
