@font-face {
  font-family: 'Archivo';
  font-display: swap;
  src:
    url('/fonts/Archivo-Regular.woff2') format('woff2'),
    url('/fonts/Archivo-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Archivo';
  font-weight: 600;
  font-display: swap;
  src:
    url('/fonts/Archivo-SemiBold.woff2') format('woff2'),
    url('/fonts/Archivo-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'MartianMono';
  font-display: swap;
  src:
    url('/fonts/MartianMono-Regular.woff2') format('woff2'),
    url('/fonts/MartianMono-Regular.woff') format('woff');
}

@font-face {
  font-family: 'MartianMono';
  font-weight: 300;
  font-display: swap;
  src:
    url('/fonts/MartianMono-Light.woff2') format('woff2'),
    url('/fonts/MartianMono-Light.woff') format('woff');
}

body {
  color: var(--color-text);
  font-family: var(--font-family-body);
  font-size: var(--font-size-body);
  line-height: var(--line-height-body);
  font-synthesis-weight: none;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap-style: balance;
}

h1 {
  font-size: var(--base-font-size-5xl);
  font-weight: var(--font-weight-semibold);
  line-height: var(--base-font-size-5xl);
  letter-spacing: var(--letter-spacing-heading);
}

h2 {
  font-size: var(--base-font-size-4xl);
  line-height: var(--base-font-size-4xl);
  font-weight: var(--font-weight-semibold);
  letter-spacing: var(--letter-spacing-heading);
}

h3 {
  font-size: var(--base-font-size-3xl);
  font-weight: var(--font-weight-semibold);
  line-height: var(--base-font-size-3xl);
  letter-spacing: var(--letter-spacing-heading);
  text-transform: uppercase;
}

h4 {
  font-size: var(--base-font-size-2xl);
  line-height: var(--base-line-height-relaxed);
  font-weight: var(--font-weight-semibold);
}

h5 {
  font-size: var(--base-font-size-lg);
  font-weight: var(--font-weight-semibold);
  line-height: var(--base-line-height-relaxed);
}

h6 {
  font-size: var(--base-font-size-2xl);
  font-weight: var(--font-weight-normal);
  line-height: var(--base-line-height-relaxed);
}

.text-semibold {
  font-weight: var(--font-weight-semibold);
}

@media screen and (min-width: 890px) {
  body {
    font-size: var(--font-size-body-lg);
    line-height: var(--line-height-body-lg);
  }

  h1 {
    font-size: var(--base-font-size-7xl);
    line-height: var(--base-font-size-7xl);
  }

  h2 {
    font-size: var(--base-font-size-6xl);
    line-height: var(--base-font-size-6xl);
  }

  h3 {
    font-size: var(--base-font-size-5xl);
    line-height: var(--base-font-size-5xl);
  }

  h4 {
    font-size: var(--base-font-size-3xl);
    line-height: var(--base-line-height-loose);
  }

  h5 {
    font-size: var(--base-font-size-xl);
    line-height: var(--base-line-height-loose);
  }

  h6 {
    font-size: var(--base-font-size-xl);
    line-height: var(--base-line-height-loose);
  }
}
