@font-face {
  font-family: "Archivo";
  src:
    url("/fonts/Archivo-Regular.woff2") format("woff2"),
    url("/fonts/Archivo-Regular.woff") format("woff");
}

@font-face {
  font-family: "Archivo";
  font-weight: 600;
  src:
    url("/fonts/Archivo-SemiBold.woff2") format("woff2"),
    url("/fonts/Archivo-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "MartianMono";
  src:
    url("/fonts/MartianMono-Regular.woff2") format("woff2"),
    url("/fonts/MartianMono-Regular.woff") format("woff");
}

@font-face {
  font-family: "MartianMono";
  font-weight: 300;
  src:
    url("/fonts/MartianMono-Light.woff2") format("woff2"),
    url("/fonts/MartianMono-Light.woff") format("woff");
}

:root {
  --font-family-regular: Archivo, sans-serif;
  --font-family-mono: MartianMono, monospace;
}

body {
  color: var(--color-black);
  font-family: var(--font-family-regular);
  font-size: 1rem;
  line-height: 1.5rem;
}

h1 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 3rem;
  letter-spacing: -0.04em;
}

h2 {
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: 600;
  letter-spacing: -0.04em;
}

h3 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2rem;
  letter-spacing: -0.04em;
  text-transform: uppercase;
}

h4 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}

h5 {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 2rem;
}

h6 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem;
}

.text-semibold {
  font-weight: 600;
}

@media screen and (min-width: 890px) {
  body {
    font-size: 1.125rem;
    line-height: 2rem;
  }

  h1 {
    font-size: 6rem;
    line-height: 6rem;
  }

  h2 {
    font-size: 4rem;
    line-height: 4rem;
  }

  h3 {
    font-size: 3rem;
    line-height: 3rem;
  }

  h4 {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  h5 {
    font-size: 1.25rem;
    line-height: 2.5rem;
  }

  h6 {
    font-size: 1.25rem;
    line-height: 2.5rem;
  }
}
