.link {
  color: var(--color-text);
}

.link:hover,
.link:active {
  color: var(--color-text-interactive);
}

.link:focus-visible {
  background-color: var(--color-background-focus);
  outline-style: dashed;
}
