.contact-block {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-8);
}

.contact-block__title {
  margin: 0px;
  font-size: 1em;
  line-height: 1.5;
  font-weight: 600;
  text-transform: none;
  letter-spacing: initial;
}

.contact-block__body {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-8);
  font-style: normal;
}

.contact-block__body a {
  color: inherit;
  width: fit-content;
  text-underline-position: from-font;
}

.contact-block__body a:hover {
  text-decoration: none;
}

.contact-address-line {
  margin: 0px;
}
